html {
	background-color: #4E4E4E;   
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0;
}

.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}

#landing-logo {
	max-width: 270px;
	margin-bottom: 10px;
}

.form {
  	position: relative;
  	z-index: 1;
 	background: #F8F8F8;
  	max-width: 360px;
  	margin: 0 auto 100px;
  	padding: 45px;
  	text-align: center;
  	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  	font-family: "Roboto", sans-serif;
  	outline: 0;
  	background: #f2f2f2;
  	width: 100%;
  	border: 0;
  	margin: 0 0 15px;
  	padding: 15px;
  	box-sizing: border-box;
  	font-size: 14px;
}

.form button {
  	font-family: "Roboto", sans-serif;
  	text-transform: uppercase;
  	outline: 0;
  	background: #FBB03B;
  	width: 100%;
  	border: 0;
  	padding: 15px;
  	color: #F8F8F8;
  	font-size: 14px;
  	-webkit-transition: all 0.3 ease;
  	transition: all 0.3 ease;
  	cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  	background: #4E4E4E;
}

.form .message {
  	margin: 15px 0 0;
  	color: #b3b3b3;
  	font-size: 12px;
}

.form .message a {
  	color: #FBB03B;
  	text-decoration: none;
}

.form .message a:hover {
	color: #232425;
}

.form .register-form {
  	display: none;
}

.container {
  	position: relative;
  	z-index: 1;
  	max-width: 300px;
  	margin: 0 auto;
}

.container:before, .container:after {
  	content: "";
  	display: block;
  	clear: both;
}

.container .info {
  	margin: 50px auto;
  	text-align: center;
}

.container .info h1 {
  	margin: 0 0 15px;
  	padding: 0;
  	font-size: 36px;
  	font-weight: 300;
  	color: #1a1a1a;
}

.container .info span {
  	color: #4d4d4d;
  	font-size: 12px;
}

.container .info span a {
  	color: #000000;
  	text-decoration: none;
}

.container .info span .fa {
  	color: #EF3B3A;
}















                 /*feed*/

#bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #f8f8f8;
	height: 30px;
	width: 100%;
	padding: 5px;
} 

#bar:after {
	content: '';
	display: block;
	clear: both;
}

#bar img {
	height: 30px;
	width: auto;
	position: fixed;
	left: 10px;
}

#log-out {
	font-family: "Roboto", sans-serif;
	margin-right: 20px;
	margin-left: 150px;
	margin-top: 5px;
	color: #C8C8C8;
	text-decoration: none;
	float: right;
	display: inline-block;
}

#navigation {
	float: right;
	width: 500px;
}

#log-out:hover {
	color: #4E4E4E;
}

.search-bar {
	position: fixed;
	right: 20%;
	top: 7px;
	display: inline-block;

}

.search-input {
	width: 200px;
	height: 25px;
	border: none;
	vertical-align: middle;
	outline: none;
}

.search-button {
	background-color: #FBB03B;	
	width: 25px;
	height: 25px;
	border: none;
	vertical-align: middle;
	position: relative;
	right: 5px;
	outline: none;
}

.search-button:hover {
	cursor: pointer;
	background-color: #C8C8C8;
}

#new-project_button {
	position: fixed; 
	bottom: 20px; 
	right: 30px;
}

#new-project_button button {
	color: #F8F8F8;
	font-size: 4em;
	background-color: transparent;
	border: none;
	outline: none;
}

#new-project_button button:hover {
	cursor: pointer;
	color: #FBB03B;
}

#feed-box {
	width: 98%;
	height: 92%;
	margin: 0 auto;
	margin-top: 50px;
}






#public-projects {
	width: 80%;
	height: 100%;
	float: left;
	overflow-y: scroll;
}

#my-projects {
	width: 19%;
	height: 100%;
	float: right;
	overflow-y: scroll;
	margin-left:10px 
}

#public-projects h2, #my-projects h2 {
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #2E2E2E;
}


article {
	margin: 20px;
	float: left;
	width: 200px;
	height: 232px;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-size: 16px;	
	color: #2E2E2E;
}

article p {
	margin: 0;
	padding: 0;
	display: inline-block;
}

#date {
	float: right;
}










