html {
	background-color: #4E4E4E;   
	height: 100%;
	width: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden !important;
}

#content-box {
	width: 98%;
	height: 92%;
	margin: 0 auto;
	margin-top: 50px;
}


/*  scrollbar  */

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #F8F8F8;
  border: 0px none #ffffff;
  border-radius: 13px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #F8F8F8;
}
::-webkit-scrollbar-track {
  background: #232425;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*  nav bar  */

#bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #f8f8f8;
	height: 30px;
	width: 100%;
	padding: 5px;
} 

#bar:after {
	content: '';
	display: block;
	clear: both;
}

#bar img {
	height: 30px;
	width: auto;
	position: fixed;
	left: 10px;
}

#log-out {
	font-family: "Roboto", sans-serif;
	margin-right: 20px;
	margin-left: 150px;
	margin-top: 5px;
	color: #C8C8C8;
	text-decoration: none;
	float: right;
	display: inline-block;
}

#navigation {
	float: right;
	width: 500px;
}

#log-out:hover {
	color: #4E4E4E;
}

.search-bar {
	position: fixed;
	right: 20%;
	top: 7px;
	display: inline-block;

}

.search-input {
	width: 200px;
	height: 25px;
	border: none;
	vertical-align: middle;
	outline: none;
}

.search-button {
	background-color: #FBB03B;	
	width: 25px;
	height: 25px;
	border: none;
	vertical-align: middle;
	position: relative;
	right: 5px;
	outline: none;
}

.search-button:hover {
	cursor: pointer;
	background-color: #C8C8C8;
}


/*  alert message  */

.alert_comment {
	margin-top: 0; 
	font-size: 12px;
	color: #C8C8C8;
}
.alert_comment span {
	color: #FBB03B;
}


/*  login / register */

.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}

#landing-logo {
	max-width: 270px;
	margin-bottom: 10px;
}

.form {
  	position: relative;
  	z-index: 1;
 	background: #F8F8F8;
  	max-width: 360px;
  	margin: 0 auto 100px;
  	padding: 45px;
  	text-align: center;
  	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  	font-family: "Roboto", sans-serif;
  	outline: 0;
  	background: #f2f2f2;
  	width: 100%;
  	border: 0;
  	margin: 0 0 15px;
  	padding: 15px;
  	box-sizing: border-box;
  	font-size: 14px;
}

#tac_check {
	display: inline-block;
	width: 20px;
}

#tac_message {
	font-family: "Roboto", sans-serif;
	display: inline-block;
	text-align: right;
	margin-top: 0;
}

.button_style {
  	font-family: "Roboto", sans-serif;
  	text-transform: uppercase;
  	outline: 0;
  	background: #FBB03B !important;
  	width: 100%;
  	border: 0;
  	padding: 15px;
  	color: #F8F8F8;
  	font-size: 14px;
  	cursor: pointer;
}

.button_style:hover {
  	background: #4E4E4E !important;
}

.form .message {
  	margin: 15px 0 0;
  	color: #b3b3b3;
  	font-size: 12px;
}

.form .message a {
  	color: #FBB03B;
  	text-decoration: none;
}

.form .message a:hover {
	color: #232425;
}

.form .register-form {
  	display: none;
}

.container {
  	position: relative;
  	z-index: 1;
  	max-width: 300px;
  	margin: 0 auto;
}

.container:before, .container:after {
  	content: "";
  	display: block;
  	clear: both;
}

.container .info {
  	margin: 50px auto;
  	text-align: center;
}

.container .info h1 {
  	margin: 0 0 15px;
  	padding: 0;
  	font-size: 36px;
  	font-weight: 300;
  	color: #1a1a1a;
}

.container .info span {
  	color: #4d4d4d;
  	font-size: 12px;
}

.container .info span a {
  	color: #000000;
  	text-decoration: none;
}

.container .info span .fa {
  	color: #EF3B3A;
}


/*  feed page  */

#new-project-button-mover {
	position: fixed; 
	bottom: 20px; 
	right: 30px;
}

#new-project-button-mover button {
	color: #F8F8F8;
	font-size: 4em;
	background-color: transparent;
	border: none;
	outline: none;
}

#new-project-button-mover button:hover {
	cursor: pointer;
	color: #FBB03B;
}

#public-projects {
	width: 80%;
	height: 100%;
	float: left;
	overflow-y: scroll;
}

#my-projects {
	width: 19%;
	height: 100%;
	float: right;
	overflow-y: scroll;
	margin-left:10px 
}

#public-projects h2, #my-projects h2 {
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #2E2E2E;
}


article {
	margin: 20px;
	float: left;
	width: 200px;
	height: 232px;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	font-size: 16px;	
	color: #2E2E2E;
}

article p, article h2 {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.date {
	float: right;
}


/*  new project pop form  */

.popup-form {
	overflow: scroll;
  	z-index: 3;	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	background-color: rgba(35,36,37,.8);
}

#new-project-form {
  	position: relative;
  	z-index: 6;
 	background: #F8F8F8;
  	max-width: 360px;
  	margin: 50px auto 100px;
  	padding: 20px 45px;
  	text-align: center;
  	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form h2 {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 200;
}

#new-project-form input {
  	font-family: "Roboto", sans-serif;
  	outline: 0;
  	background: #f2f2f2;
  	width: 100%;
  	border: 0;
  	margin: 0 0 15px;
  	padding: 15px;
  	box-sizing: border-box;
  	font-size: 14px;
}

#new-project-form button {
  	outline: 0;
  	background: #FBB03B;
  	width: 48%;
  	border: 0;
  	padding: 15px;
  	color: #F8F8F8;
  	font-size: 18px;
  	cursor: pointer;
  	margin-bottom: 10px;
}

#new-project-form button:after {
	content: "";
  	display: block;
  	clear: both;
}

#new-project-form button:hover {
  	background: #C8C8C8 !important;
}

#back-to-feed {
	float: left;
	color: #F8F8F8 !important;
	background-color: #4E4E4E !important ;
}

#description-input {
	font-family: "Roboto", sans-serif;
  	outline: 0;
  	background: #f2f2f2;
  	border: 0;
  	margin: 0 0 15px;
  	padding: 15px;
  	box-sizing: border-box;
  	font-size: 14px;
	height: 200px;
	width: 100%;
	position: relative;
	top: 15px;
}


/*  project  */

#back-button {
	color: #FBB03B;
	font-size: 24px;
	line-height: 30px;
	display: inline-block;
	position: fixed;
	left: 150px;
}

#back-button:hover {
	color: #4E4E4E;
}

#info-box {
	padding: 15px;
	width: 70%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	overflow-y: scroll;
}

#title h1{
	margin: 0px;
}

#project-display {
	border: 2px solid #232425;
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
	height: 700px;
}

#description {
	background-color: #F8F8F8;
	width: 100%;
	margin-top: 10px; 
	min-height: 200px;
	padding: 15px;
	box-sizing: border-box;
}

/*  comment side box  */

#comment-form-controler {
	width: 100%;
	outline: 0;
  	background: #FBB03B;
  	border: 0;
  	color: #F8F8F8;
  	font-size: 18px;
  	cursor: pointer;
  	margin-bottom: 10px;
  	padding: 3px;

}

#comment-form-controler:hover {
  	background: #C8C8C8 !important;
  	cursor: pointer;
}

#comment-form-controler:after {
	content: "";
  	display: block;
  	clear: both;
}

#comment-box {
	width: 29%;
	height: 93%;
	float: right;
	margin-left:10px 
}

#comment-submit {
  	outline: 0;
  	background: #FBB03B;
  	width: 100%;
  	border: 0;
  	padding: 15px;
  	color: #F8F8F8;
  	font-size: 18px;
  	cursor: pointer;
  	margin-bottom: 10px;
  	margin-top: 10px;
}

#comment-submit:hover {
  	background: #C8C8C8 !important;
  	cursor: pointer;
}

#comment-submit:after {
	content: "";
  	display: block;
  	clear: both;
}

#comment-form textarea {
	font-family: "Roboto", sans-serif;
  	outline: 0;
  	background: #f2f2f2;
  	border: 0;
  	padding: 15px;
  	box-sizing: border-box;
  	font-size: 14px;
	height: 90%;
	width: 100%;
	float: right;
	display: inline-block;
}

#comment-display {
	padding: 15px;
	box-sizing: border-box;
	display: block;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

#comment-form {
	display: none;
	height: 100%;
	width: 100%;
}

#comment-owner {
	display: inline-block;
	font-size: 18px;
	margin-bottom: 0;
}

#comment-date {
	display: inline-block;
	float: right;
	font-size: 16px;
}


/*  404 page  */

#error-head {
	margin: auto;
	color: #FBB03B;
	font-family: "Roboto", sans-serif;
	font-size: 10em;
}

#error-box {
	position: relative;
 	background: #F8F8F8;
  	margin: 50px auto;
  	text-align: center;
  	border-bottom: dashed 5px #232425;
  	border-top: dashed 5px #232425;
  	padding: 20px;
  	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#error-back {
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	color: #FBB03B;
	text-decoration: none;
}

#error-back:hover {
	color: #C8C8C8;
}





















